In [2]:
# analyzing text reviews for sentiment analysis

# removing special character

import pandas as pd
import re

In [10]:
# sample data
reviews_data = pd.DataFrame({
    'review': [
        'Great product! ðŸ˜Š Highly recommend!!!',
        'Bad quality ðŸ˜” Dont buy! 2021',
        'Value for money ðŸ’° 5 stars!!!'],
    'new' : [
        'new values',
        'present',
        'in the data frame'
    ]})

In [13]:
reviews_data

                                 review                new
0  Great product! ðŸ˜Š Highly recommend!!!         new values
1          Bad quality ðŸ˜” Dont buy! 2021            present
2          Value for money ðŸ’° 5 stars!!!  in the data frame

In [16]:
def clean_text(text):
    # remove emojis
    text = re.sub('[\U00010000-\U0010ffff]', '', text)
    # remove special characters and numbers
    text = re.sub('[^A-Za-z\s]', '', text)
    # to lower case
    text = text.lower()
    return text

In [24]:
# applying the clean_text function to the reviw_data coloumn
reviews_data['cleaned_data'] = reviews_data['review'].apply(clean_text)

In [25]:
reviews_data

,review,new,cleaned_data
0,Great product! ðŸ˜Š Highly recommend!!!,new values,great product highly recommend
1,Bad quality ðŸ˜” Dont buy! 2021,present,bad quality dont buy
2,Value for money ðŸ’° 5 stars!!!,in the data frame,value for money stars

In [27]:
# a company wants to understand if the lenght of the review has any correlation 
# with customer satisfaction

# a dataframe 'reviews_data' with 'rating' and 'review' columns
new_reviews_data = pd.DataFrame({
    'rating': [5, 2, 4, 3, 5],
    'review': [
        'Good quality product, works well',
        'Not worth the price',
        'Decent purchase, happy with the product',
        'Could be better',
        'Excellent! Highly recommend'
    ]
})

In [28]:
new_reviews_data

   rating                                   review
0       5         Good quality product, works well
1       2                      Not worth the price
2       4  Decent purchase, happy with the product
3       3                          Could be better
4       5              Excellent! Highly recommend

In [34]:
# thresholds for review length
def threshold_categorization(text):
    length = len(text.split())
    if length <= 5:
        return 'short'
    elif 5 < length <= 10:
        return 'medium'
    else:
        return 'long'

new_reviews_data['length_category'] = new_reviews_data['review'].apply(threshold_categorization)

In [31]:
text = 'thangaraj'
len(text.split())

1

In [35]:
new_reviews_data

   rating                                   review length_category
0       5         Good quality product, works well           short
1       2                      Not worth the price           short
2       4  Decent purchase, happy with the product          medium
3       3                          Could be better           short
4       5              Excellent! Highly recommend           short

In [43]:
# calculate the average rating for each category

average_rating_by_length = new_reviews_data.groupby('length_category')['rating'].mean()
print(average_rating_by_length)

length_category
medium    4.00
short     3.75
Name: rating, dtype: float64

In [45]:

# social media trend analysis -> includes time series data as well

# This problem involves time-series data manipulation and text analysis.

In [47]:
posts_data = pd.DataFrame({
    'timestamp': ['2024-01-01 10:00:00', '2024-01-08 11:00:00', '2024-01-15 12:00:00'],
    'post': ['Launching new feature #innovation', 'Bug fixes and improvements #update', 'Join our live event #webinar']
})

posts_data

             timestamp                                post
0  2024-01-01 10:00:00   Launching new feature #innovation
1  2024-01-08 11:00:00  Bug fixes and improvements #update
2  2024-01-15 12:00:00        Join our live event #webinar

In [48]:


steps - 

1. parse timestamps and resample data to analyse weekly trends
2. extract keywords from posts to identify each topics
3. count occurences of each topic per week to identify trends

SyntaxError: invalid syntax (44233293.py, line 1)

In [54]:
posts_data

             timestamp                                post
0  2024-01-01 10:00:00   Launching new feature #innovation
1  2024-01-08 11:00:00  Bug fixes and improvements #update
2  2024-01-15 12:00:00        Join our live event #webinar

In [55]:
# convert timestamp to date time and set as index
posts_data['timestamp'] = pd.to_datetime(posts_data['timestamp'])

In [56]:
posts_data

            timestamp                                post
0 2024-01-01 10:00:00   Launching new feature #innovation
1 2024-01-08 11:00:00  Bug fixes and improvements #update
2 2024-01-15 12:00:00        Join our live event #webinar

In [57]:
posts_data.set_index('timestamp', inplace=True)

In [58]:
posts_data

                                                   post
timestamp
2024-01-01 10:00:00   Launching new feature #innovation
2024-01-08 11:00:00  Bug fixes and improvements #update
2024-01-15 12:00:00        Join our live event #webinar

In [61]:
# resample data weekly and aggregate posts

weekly_posts = posts_data['post'].resample('W').agg(' '.join)

# 'W' stands for weekly

weekly_posts

timestamp
2024-01-07     Launching new feature #innovation
2024-01-14    Bug fixes and improvements #update
2024-01-21          Join our live event #webinar
Freq: W-SUN, Name: post, dtype: object

In [62]:
# extract and count keywords to identify trends 

weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())

/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())
/var/folders/j_/x0bf7btx0_l5d3t4jrrlkqjw0000gn/T/ipykernel_9554/719499111.py:3: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  weekly_trends = weekly_posts.apply(lambda x: pd.value_counts(x.split()).to_dict())

In [63]:
weekly_trends

timestamp
2024-01-07    {'Launching': 1, 'new': 1, 'feature': 1, '#inn...
2024-01-14    {'Bug': 1, 'fixes': 1, 'and': 1, 'improvements...
2024-01-21    {'Join': 1, 'our': 1, 'live': 1, 'event': 1, '...
Freq: W-SUN, Name: post, dtype: object

In [65]:
# network traffic anaomaly detection


traffic_data = pd.DataFrame({
    'timestamp': pd.date_range(start='2024-01-01', periods=24, freq='H'),
    'requests': [100, 102, 104, 500, 105, 103, 101, 
                 100, 99, 98, 97, 500, 95, 94, 93,
                 92, 91, 90, 500, 88, 87, 86, 85, 500]
})
traffic_data

             timestamp  requests
0  2024-01-01 00:00:00       100
1  2024-01-01 01:00:00       102
2  2024-01-01 02:00:00       104
3  2024-01-01 03:00:00       500
4  2024-01-01 04:00:00       105
5  2024-01-01 05:00:00       103
6  2024-01-01 06:00:00       101
7  2024-01-01 07:00:00       100
8  2024-01-01 08:00:00        99
9  2024-01-01 09:00:00        98
10 2024-01-01 10:00:00        97
11 2024-01-01 11:00:00       500
12 2024-01-01 12:00:00        95
13 2024-01-01 13:00:00        94
14 2024-01-01 14:00:00        93
15 2024-01-01 15:00:00        92
16 2024-01-01 16:00:00        91
17 2024-01-01 17:00:00        90
18 2024-01-01 18:00:00       500
19 2024-01-01 19:00:00        88
20 2024-01-01 20:00:00        87
21 2024-01-01 21:00:00        86
22 2024-01-01 22:00:00        85
23 2024-01-01 23:00:00       500

In [66]:
traffic_data.set_index('timestamp', inplace=True)

In [67]:
traffic_data

                     requests
timestamp
2024-01-01 00:00:00       100
2024-01-01 01:00:00       102
2024-01-01 02:00:00       104
2024-01-01 03:00:00       500
2024-01-01 04:00:00       105
2024-01-01 05:00:00       103
2024-01-01 06:00:00       101
2024-01-01 07:00:00       100
2024-01-01 08:00:00        99
2024-01-01 09:00:00        98
2024-01-01 10:00:00        97
2024-01-01 11:00:00       500
2024-01-01 12:00:00        95
2024-01-01 13:00:00        94
2024-01-01 14:00:00        93
2024-01-01 15:00:00        92
2024-01-01 16:00:00        91
2024-01-01 17:00:00        90
2024-01-01 18:00:00       500
2024-01-01 19:00:00        88
2024-01-01 20:00:00        87
2024-01-01 21:00:00        86
2024-01-01 22:00:00        85
2024-01-01 23:00:00       500

In [70]:
# calculate rolling mean and standard deviation with a larger window
window_size = 6  # Larger window for smoothing
rolling_mean = traffic_data['requests'].rolling(window=window_size).mean()
rolling_std = traffic_data['requests'].rolling(window=window_size).std()

print(rolling_mean)
print(rolling_std)

timestamp
2024-01-01 00:00:00           NaN
2024-01-01 01:00:00           NaN
2024-01-01 02:00:00           NaN
2024-01-01 03:00:00           NaN
2024-01-01 04:00:00           NaN
2024-01-01 05:00:00    169.000000
2024-01-01 06:00:00    169.166667
2024-01-01 07:00:00    168.833333
2024-01-01 08:00:00    168.000000
2024-01-01 09:00:00    101.000000
2024-01-01 10:00:00     99.666667
2024-01-01 11:00:00    165.833333
2024-01-01 12:00:00    164.833333
2024-01-01 13:00:00    163.833333
2024-01-01 14:00:00    162.833333
2024-01-01 15:00:00    161.833333
2024-01-01 16:00:00    160.833333
2024-01-01 17:00:00     92.500000
2024-01-01 18:00:00    160.000000
2024-01-01 19:00:00    159.000000
2024-01-01 20:00:00    158.000000
2024-01-01 21:00:00    157.000000
2024-01-01 22:00:00    156.000000
2024-01-01 23:00:00    224.333333
Name: requests, dtype: float64
timestamp
2024-01-01 00:00:00           NaN
2024-01-01 01:00:00           NaN
2024-01-01 02:00:00           NaN
2024-01-01 03:00:00           NaN
2024-01-01 04:00:00           NaN
2024-01-01 05:00:00    162.165348
2024-01-01 06:00:00    162.080741
2024-01-01 07:00:00    162.248472
2024-01-01 08:00:00    162.660382
2024-01-01 09:00:00      2.607681
2024-01-01 10:00:00      2.160247
2024-01-01 11:00:00    163.713673
2024-01-01 12:00:00    164.206476
2024-01-01 13:00:00    164.697804
2024-01-01 14:00:00    165.187671
2024-01-01 15:00:00    165.676090
2024-01-01 16:00:00    166.163073
2024-01-01 17:00:00      1.870829
2024-01-01 18:00:00    166.571306
2024-01-01 19:00:00    167.064060
2024-01-01 20:00:00    167.555364
2024-01-01 21:00:00    168.045232
2024-01-01 22:00:00    168.533676
2024-01-01 23:00:00    213.532823
Name: requests, dtype: float64

In [71]:
# define anomalies as points more than 2 standard deviations from the mean
anomaly_threshold = 2
traffic_data['is_anomaly'] = abs(traffic_data['requests'] - rolling_mean) > (anomaly_threshold * rolling_std)

In [ ]:
# display anomalies
anomalies = traffic_data[traffic_data['is_anomaly']]

print(anomalies)